* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 650px auto;
    grid-template-areas:
        "h"
        "m"
        "f";
   
}
header{
    grid-area: h;
    background-color: #861312;
    padding: 30px;
    display: flex;
    color: #d29b9b;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

header > img{
    width: 200px;
}

 h1{
    display: flex;
    flex-direction: column;
}

 main{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7cccc;
}

footer{
    grid-area: f;
    background-color: #861312;
    height: 55px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;

}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #861312;
     width: 300px;
}

.btn-01{
    padding: 10px 20px;
    background-color: #861312;
    margin-top: 20px;
    color: #f7cccc;
    text-decoration: none;
}


button{
    background-color: #f7cccc;
    padding: 8px;
    color: #861312;
    border-color: #d29b9b;
}

.icon > img{
    height: 100px;
}


@media (max-width:400px){
    .card{
    height: 150px;
    }
    .icon > img{
        height: 50px;
    }
}

